@model SharpCms.Core.DataObjects.PageInfo
@{
    var path = string.Empty;
}

<ul>
    @foreach (var page1 in Model.Children)
    {
        path = "/" + page1.PageName;
        <li>
            <a href="@page1.PageName">@page1.Menuname</a>
            @if (page1.Children != null)
            {
                <ul>
                    @foreach (var page2 in page1.Children)
                    {
                        path = "/" + page1.PageName + "/" + page2.PageName;
                        <li>
                            <a href="@path">@page2.Menuname</a>
                            @if (page2.Children != null)
                            {
                                <ul>
                                    @foreach (var page3 in page2.Children)
                                    {
                                        path = "/" + page1.PageName + "/" + page2.PageName + "/" + page3.PageName;
                                        <li>
                                            <a href="@path">@page3.Menuname</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
